<ion-view title="Accès">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list class="card">
         <ion-item class="item-icon-left item-avatar positive">
            <i class="icon ion-location"></i>
            <h2>Accès à la conférence</h2>
          </ion-item>

          <ion-item class="item-body">
            <p>
              <b>Adresse:</b><br/>
              Centre de congrès du WTC<br/>
              5 place Robert Schumann<br/>
              38000 Grenoble
            </p>
            <p>
              <b>Accès:</b><br/>
              <button class="button button-block button-positive" ng-click="open('https://goo.gl/maps/WLsgg')">
                Google Maps
              </button>
            </p>
          </ion-item>
      </span>
    </ion-list>
  </ion-content>
</ion-view>
