<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-list>
      <ion-item class="item-avatar">
        <img src="img/logo/logo_blue.png">
        <h2>Agile Grenoble 2014</h2>
      </ion-item>
    </ion-list>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/sponsors">
          Sponsors
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/keynotes">
          Keynotes
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/programme">
          Programme
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/apropos">
          A propos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
