<ion-view title="Nos menus">
	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<ion-list class="item-text-wrap">
	    <ion-item class="item-avatar">
	      	<img src="img/menu.png" />
	      	<h2>Quelles sessions allez-vous voir à... <br/>Agile Grenoble 2014</h2>
	      	<p>
				Pour vous aider à optimiser votre parcours, nous vous proposons une vue par centres d’intérêt.<br/>
				6 <b>« menus »</b>... vous sont ainsi proposés.<br/>
				Priorisez votre backlog de sessions à ne pas manquer !!
			</p>
	    </ion-item>
	    <ion-item class="item-icon-left item-icon-right item-text-wrap" href="#/app/parcours/apero">
	    	<i class="icon ion-fork"></i>
	    	<h2>Menu <b>« APERO DINATOIRE »</b></h2>
	    	<p> pour se mettre en bouche sur l’agilité et se préparer à y entrer</p>
	    	<i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class="item-icon-left item-icon-right item-text-wrap" href="#/app/parcours/chasse">
	    	<i class="icon ion-fork"></i>
	    	<h2>Menu <b>« RETOUR DE CHASSE »</b></h2>
	    	<p>  ... aux outils, des pratiques techniques avancées... </p>
	    	<i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class="item-icon-left item-icon-right item-text-wrap" href="#/app/parcours/saveur">
	    	<i class="icon ion-fork"></i>
	    	<h2>Menu <b>« SAVEUR »</b></h2>
	    	<p> pour avoir plus de valeur, de vision produit, affiner la roadmap...</p>
	    	<i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class="item-icon-left item-icon-right item-text-wrap" href="#/app/parcours/harry">
	    	<i class="icon ion-fork"></i>
	    	<h2>Menu <b>« HARRY POTTER »</b></h2>
	    	<p> pour apporter de la magie et de la sorcellerie à vos pratiques </p>
	    	<i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class="item-icon-left item-icon-right item-text-wrap" href="#/app/parcours/exotic">
	    	<i class="icon ion-fork"></i>
	    	<h2>Menu <b>« EXOTIQUE »</b></h2>
	    	<p> pour nourrir l’équipe de nouvelles pratiques non conventionnelles</p>
	    	<i class="icon ion-chevron-right"></i>
	    </ion-item>
	    <ion-item class="item-icon-left item-icon-right item-text-wrap" href="#/app/parcours/gargantua">
	    	<i class="icon ion-fork"></i>
	    	<h2>Menu <b>« GARGANTUA »</b></h2>
	    	<p> pour les très gros appétits agiles, à l’échelle de l’entreprise</p>
	    	<i class="icon ion-chevron-right"></i>
	    </ion-item>
	</ion-list>
  </ion-content>
</ion-view>
