<ion-view title="Session">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <div class="list card">

	  <div class="item item-avatar">
	    <h2><b>{{session.title}}</b></h2>
	    <p>{{session.sub_title}}</p>
	  </div>

	  <div class="item item-body">
	    <span class="item-hour"><b>Salle:</b> {{session.room}}</span><br/>
		<span class="item-small" ng-class="{positive:(session.theme == 'desire'), balanced:(session.theme == 'sharing'), energized:(session.theme == 'pleasure'), assertive:(session.theme == 'change')}" >
      		<span ng-if="session.theme == 'desire'">Desir & Réalité</span>
      		<span ng-if="session.theme == 'sharing'">Partage & Emulation</span>
      		<span ng-if="session.theme == 'pleasure'">Plaisir & Excellence</span>
      		<span ng-if="session.theme == 'change'">Changement & Energie</span>
      	</span><br/>
	    <p>
	      <div><b>Résumé : </b>{{session.abstract}} <p>{{session.description}}</p></div><br/>
		   <div ng-if="session.benefits!=''"><b>Bénéfices pour les participants : </b>{{session.benefits}}</div>
	    </p>
	    <p>
	      <div ng-repeat="speaker in session['speaker-list']">
	        <div><b>{{speaker.firstname}} {{speaker.lastname}}</b>:
	            {{speaker.bio}}
	        </div>
	        <br>
	   	 </div>
	    </p>
	  </div>
	</div>
    </ion-list>
  </ion-content>
</ion-view>

 