<ion-view title="Session">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list class="card">
	  <ion-item class="item-header item-text-wrap">
	    <h2><b>{{session.title}}</b></h2>
	    <p>{{session.sub_title}}</p>
	  </ion-item>

	  <ion-item class="item-body">
	    <span class="item-hour"><b>Salle:</b> {{session.room}}</span><br/>
	    <!--span class="item-hour"><b>Durée:</b> {{session.length*15}} mns</span><br/-->
		<span class="item-small" ng-class="{positive:(session.theme == 'desire'), balanced:(session.theme == 'sharing'), energized:(session.theme == 'pleasure'), assertive:(session.theme == 'change')}" >
			<span class="item-hour"><b>Thème: </b></span>
      		<span ng-if="session.theme == 'desire'"> Desir & Réalité</span>
      		<span ng-if="session.theme == 'sharing'"> Partage & Emulation</span>
      		<span ng-if="session.theme == 'pleasure'"> Plaisir & Excellence</span>
      		<span ng-if="session.theme == 'change'"> Changement & Energie</span>
      	</span><br/>
	    <p>
	      <div><b>Résumé : </b>{{session.abstract}} <p>{{session.description}}</p></div><br/>
		   <div ng-if="session.benefits!=''"><b>Bénéfices pour les participants : </b>{{session.benefits}}</div>
	    </p>
	    <p>
	      <div ng-repeat="speaker in session['speakers-detail']">
	      	<ion-item class="item-avatar">
		      <img ng-if="speaker.profile_image!=''" ng-src="{{speaker.profile_image}}">
		      <h2>{{speaker.name}}</h2>
		      <p>
		      	<a ng-click="open('https://twitter.com/{{speaker.twitter_id}}')" ng-if="speaker.twitter_id!=''" class="button button-icon icon ion-social-twitter"></a>
		      	<a ng-click="open('{{speaker.website}}')" ng-if="speaker.website!=''" class="button button-icon icon ion-ios7-home"></a>
		      </p>
		      <p>{{speaker.bio}}</p>
		    </ion-item>
	        <br>
	   	 </div>
	    </p>
	  </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

 